<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

</head>

<body>

	<header>
		<div class="container">
			<span class='heading_first'>Stack Overflow Question Tag Predictor </span><br>
			<span class="description" style="font-family:cursive">Machine Learning App with Flask</span>
		</div>
	</header>
	<br>
	<div class="main-header">
		<form action="predict" method="POST">
			<div class="block">
				<p class="description">Enter Question Title Here</p>
				<textarea name="title" rows="2" cols="50"
					placeholder="Eg. Implementing Boundary Value Analysis of Software Testing in a C++ program?"></textarea>
			</div>
			<!-- <div class = "block">
				<p class="description">Enter Variation Here</p>
				<textarea name="variation" rows="2" cols="50" placeholder="Eg. Truncating Mutations"></textarea>
			</div> -->
			<div class="block">
				<p class="description">Enter Question Body Here</p>
				<textarea name="question" rows="6" cols="50"
					placeholder="Please describe elaborately what you'd like to ask."></textarea>
			</div>
			<input type="submit" class="btn-info" value="predict">
		</form>
		<br>
		<br>
		<h4 class="results">
			<p>The predicted question tag(s) is/are: </p>
			<p style="font-size: 1.5em">{{prediction}}
			<p>
		</h4>
	</div>
</body>

</html>